{%extends "base.html"%}

{%block head%}
<title>Form Page!</title>
{%endblock%}

{%block body%}
<div class="container mx-auto mt-4 text-center">
    <h1>Yo! This is a form page, please fill it in HAHAHA</h1>
</div>
<div class="container mt-5">
    <form action="{{url_for('result')}}" class="row" method="POST">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
        </div>
    </form>
</div>
<div class="container">
    <div class="row py-2">
        {%for c in result%}
        <div class="col-sm-6">
          <div class="card p-2" style="width:18rem;">
            <div class="card-body">
              <h5 class="card-title row"><span class="col-md-6">Name:</span><span class="col-md-6">{{c['name']|capitalize}}</span></h5>
              <p class="row"><span class="col-md-6">age:</span> <span class="col-md-6 badge bg-secondary">{{c['age']}}</span></p>
              <p class="row"><span class="col-md-6">Supervisor:</span> <span class="col-md-6 badge bg-secondary">{{c['supervisor']|capitalize}}</span></p>
              <p class="row"><span class="col-md-6">Department:</span> <span class="col-md-6 badge bg-secondary">{{c['department']|capitalize}}</span></p>
              <p class="row"><span class="col-md-6">Email:</span> <span class="col-md-6 badge bg-secondary">{{c['email']|capitalize}}</span></p>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
</div>

{%endblock%}